In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
df = pd.read_csv('Datasets/performances.csv')

In [32]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [33]:
df

,h,k,p,option,total_time,Utility Loss,Number of transactions
0,0.8,10,2,Top_x-10,54.629279,97.993311,132
1,0.8,10,2,Top_x-15,36.503849,98.327759,98
2,0.8,10,2,Top_x-20,27.466795,99.331104,43
3,0.8,10,2,Top_x-25,22.502787,100.000000,0
4,0.8,10,3,Top_x-10,50.902738,97.993311,132
...,...,...,...,...,...,...,...
477,0.5,2,6,m-half,33.086196,97.324415,182
478,0.5,2,6,m-suppress-all,29.425614,100.000000,0
479,0.5,2,6,m-only-max,1805.704593,96.321070,247
480,0.5,4,2,m-half,7.862407,97.658863,140
481,0.5,4,2,m-suppress-all,5.223485,100.000000,0